@model SinglePage.Models.UserResponse

@{
   Layout = null;
}
<h2 align="left">Gas Fill-ups Log</h2>
<table align="left" border="1">
   <thead>
      <tr>
         <th>Date</th>
         <th>Odometer</th>
         <th>Gallons</th>
         <th>Cost</th>
      </tr>
   </thead>
   <thead>
      <tr>
         <th>@Model.DateInput</th>
         <th>@Model.Odometer</th>
         <th>@Model.Gallons</th>
         <th>@Model.TotalCost</th>
      </tr>
   </thead>
</table>
</br>
<div>
   <p> &nbsp; &nbsp;</p>
   <a asp-action="Edit" align="left">Edit</a>
</div>





