
<ul>
   <li><a asp-action="Index">Gas Fill-up</a></li>
   <li><a  asp-action="Income">Income</a></li>
   <li><a asp-action="Expenses">Expenses</a></li>
   <li><a class="active" asp-action="ShiftLog">Shift Log</a></li>
</ul>
<div class="container" style="margin-left:16%;padding:1px 16px;height:1000px;">
   <h1>THIS PAGE IS INTENTIONALLY LEFT BLANK</h1>
</div>