<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8">
   <title></title>
   <style>
      /*FORM INPUT CONTAINER UNIFORM STARTS  HERE*/
      .container {
         width: 350px;
         clear: both;
      }

         .container input {
            width: 100%;
            clear: both;
         }

      body {
         margin: 0;
      }
      /*FORM INPUT CONTAINER UNIFORM ENDS  HERE*/

      /*VERTICAL NAV BAR  STARTS  HERE*/
      ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         width: 80px;
         background-color: #D0ECE7;
         position: fixed;
         height: 100%;
         overflow: auto;
      }

      li a {
         display: block;
         color: #000;
         padding: 8px 16px;
         text-decoration: none;
      }

         li a.active {
            background-color: #17A589;
            color: white;
         }

         li a:hover:not(.active) {
            background-color: #734f96;
            color: white;
         }
      /*VERTICAL NAV BAR  ENDS  HERE*/

      /*TABLE OF GAS FILL-UPS  STARTS  HERE*/
      table {
         font-family: arial, sans-serif;
         border-collapse: collapse;
         width: 100%;
      }

      td, th {
         border: 1px solid #17A589;
         text-align: left;
         padding: 8px;
      }

      tr:nth-child(even) {
         background-color: #D0ECE7;
      }
      /*TABLE OF GAS FILL-UPS  ENDS  HERE*/
   </style>
</head>
<body style="background-color: #E8DAEF;">
   <div>
      @RenderBody()
   </div>
</body>
</html>
